#include "\masm32\Include\resource.h"

#define IDD_MAIN		1000
#define IDC_DELAY		1001
#define IDC_RATE		1002
#define IDC_APPLY		1003

#define IDI_ICON		2000
#define IDI_DELAY		2001
#define IDI_RATE		2002

IDD_MAIN DIALOGEX DISCARDABLE 0, 0, 252, 140
STYLE DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_VISIBLE | WS_SYSMENU

EXSTYLE WS_EX_WINDOWEDGE

CAPTION "Keyboard Typematic Parameters"
FONT 8, "MS Sans Serif"

BEGIN
   CONTROL "&Character repeat", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 237, 105 

   CONTROL IDI_DELAY, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 21, 24, 24, 25 
   CONTROL "Repeat &delay:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 54, 24, 155, 9 
   CONTROL "Short", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 54, 38, 32, 9 
   CONTROL "Long", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 206, 38, 28, 9 
   CONTROL "", IDC_DELAY, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 87, 38, 114, 18 

   CONTROL IDI_RATE, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 21, 70, 24, 25 
   CONTROL "&Repeat rate:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 54, 70, 69, 9 
   CONTROL "Slow", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 54, 84, 22, 9 
   CONTROL "Fast", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 206, 84, 23, 8 
   CONTROL "", IDC_RATE, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 87, 84, 114, 18 

    PUSHBUTTON   "OK", IDOK,         75, 120, 50, 14, 0, 0
    PUSHBUTTON   "Cancel", IDCANCEL, 130, 120, 50, 14, 0, 0
    PUSHBUTTON   "Apply", IDC_APPLY, 194, 120, 50, 14, 0, 0

END

IDI_ICON ICON DISCARDABLE "icon.ico"
IDI_DELAY ICON DISCARDABLE "delay.ico"
IDI_RATE ICON DISCARDABLE "rate.ico"
