#include "\masm32\Include\resource.h"

#define VERSION_INFO	1

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Let you flush your drives before starting probably buggy device driver\0"
            VALUE "CompanyName", "Four-F\0"
            VALUE "FileDescription", "Disk Flusher\0"
            VALUE "FileVersion", "1, 0, 0, 0\0"
            VALUE "InternalName", "Sync\0"
            VALUE "LegalCopyright", "Copyright © 2004-2005 Four-F\0"
            VALUE "OriginalFilename", "Sync.exe\0"
            VALUE "ProductName", "Disk Flusher\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

