#include "\masm32\Include\resource.h"

#define IDD_MAIN	1000
#define IDC_TIME	1001
#define IDI_ICON	1002

IDD_MAIN DIALOGEX DISCARDABLE 0, 0, 35, 16
STYLE DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_VISIBLE | WS_SYSMENU

EXSTYLE WS_EX_WINDOWEDGE

CAPTION ""
FONT 24, "MS Sans Serif"

BEGIN
    LTEXT "", IDC_TIME, 4, 4, 30, 8
END

IDI_ICON ICON DISCARDABLE "icon.ico"
